*.log
*.sql
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json

/node_modules
/vendor

/public/hot
/public/storage

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/storage/app/pptx/tmp
/storage/app/pptx/exports
/storage/app/charts

!/storage/app/pptx/
!/storage/app/pptx/templates/
!/storage/app/pptx/templates/**

/database/database.sqlite

/backups
/backups/**
